.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 50px;
}

.slider {
    width: 1600px;
    height: 400px;
    display: flex;
    position: relative;
}

.buttons {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

    